<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">My work thus far.</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Home', home_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Showcase</a></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
  </div>
</nav>

<header>
  <div class="jumbotron">
<h1>Work Showcase</h1>
  </div>
</header>

<body>
 <section>
  <p>
  <h2>Hometown Eats Web Page</h2>
  <h3>Using HTML, CSS and Bootstrap</h3>
  <div class="col-md-6">
    <div class="panel-body">
  <%= image_tag "hometown_eatsHTML.png", :size => "550x400" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-body">
  <%= image_tag "my_kitchenHTML.png", :size => "550x400" %>
    </div>
  </div>
  </p>
  <p>
    
    <div class="col-md-6">
    <div class="panel-body">
      <h2>Twitter Dupe</h2>
    <h3>Using HTML, CSS and Bootstrap</h3>
    <%= image_tag "HTML_TwitterDupe.png", :size => "550x400" %>
    </div>
  </div>
  <div class="col-md-6">
  <div class="panel-body">  
    <h2>Rock, Paper, Scissors Game</h2>
    <h3>Using HTML, CSS and Javascript</h3>
    <%= image_tag "RPS_game_HTML_JS.png", :size => "550x400" %>
    </div>
  </div>
  </p>
  <p>
    <div class="col-md-6">
    <div class="panel-body">
    <h2>Weather App</h2>
    <h3>Using Ruby on Rails (ROR) and Wunderground API</h3>
  
    <%= image_tag "weather_app2.png", :size => "550x400" %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel-body">
      <h2>To Do List App</h2>
    <h3>Using ROR and AJAX</h3>
    <%= image_tag "tasks2.png", :size => "550x400" %>
    </div>
  </div>
  </p>
  <p>
    <h2>Blog</h2>
    <h3>Using ROR</h3>
    <div class="col-md-4">
    <div class="panel-body">
    
  
    <%= image_tag "blog_1.png", :size => "425x400" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel-body">
      
    <%= image_tag "blog3.png", :size => "425x400" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel-body">
      
    <%= image_tag "blog4.png", :size => "425x400" %>
    </div>
  </div>
  </p>
  <p>
    <h2>eCommerce Store</h2>
    <h3>Using ROR and Stripe API</h3>
    <div class="col-md-4">
    <div class="panel-body">
    
  
    <%= image_tag "eCommerce1.png", :size => "425x400" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel-body">
      
    <%= image_tag "eCommerce2.png", :size => "425x400" %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel-body">
      
    <%= image_tag "eCommerce3.png", :size => "425x400" %>
    </div>
  </div>
  </p>
  
  
 </section>  
</body>